body{
    background-color: beige;
    text-align: center;
}

#prompt{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#prompt span.correct{
    color: green;
}

#prompt span.incorrect{
    color: red;
}
#input{
    width: 90%;
    height: 150px;
}

#result{
    margin-top: 10px;
    padding: 10px;
}

button{
    padding: 5px;
    cursor: pointer;
    margin-top: 10px;
}
